/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */

 .code-embed-wrapper{
 	position:relative;
 	padding-bottom:1.25em;
 	margin-bottom:1em;
 }

 .code-embed-infos{
 	position:absolute;
 	left:0;
 	bottom:0;
 	width:100%;
 	display:block;
 	text-align:center;
 }

 .code-embed-infos a{
 	color: #FFF;
	padding: 0 1em;
	font-family: verdana, helvetica, sans-serif;
	text-decoration: none;
	background:#7A6652;
	margin:0 0.5em;
	display: inline-block;
	border-radius:0 0 0.5em 0.5em;
 }

 .code-embed-infos a:hover,
 .code-embed-infos a:focus,
 .code-embed-infos a:active{
 	color:#BDE052;
 }

code[class*="language-"],
pre[class*="language-"] {
	color: white;
	text-shadow: 0 -.1em .2em black;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	line-height:1.5em;
	
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

code[class*="language-"]{
	word-wrap:normal;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background: hsl(30,20%,25%);
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;	
	border: .3em solid hsl(30,20%,40%);
	border-radius: .5em;
	box-shadow: 1px 1px .5em black inset;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .15em .2em .05em;
	border-radius: .3em;
	border: .13em solid hsl(30,20%,40%);
	box-shadow: 1px 1px .3em -.1em black inset;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: hsl(30,20%,50%);
}

.token.punctuation {
	opacity: .7;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
	color: hsl(350, 40%, 70%);
}

.token.selector,
.token.attr-name,
.token.string {
	color: hsl(75, 70%, 60%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: hsl(40, 90%, 60%);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.function,
.token.constant  {
	color: hsl(350, 40%, 70%);
}


.token.regex,
.token.important,
.token.variable  {
	color: #e90;
}

.token.important,
.token.deliminator {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

.line-numbers .line-highlight {
	margin: 0;
	margin-left: -2.8em;
}
