/**
 * prism.js Funky theme
 * Based on “Polyfilling the gaps” talk slides http://lea.verou.me/polyfilling-the-gaps/
 * @author Lea Verou
 */

 .code-embed-wrapper{
 	position:relative;
 	padding-bottom:1.25em;
 	margin-bottom:1em;
 }

 .code-embed-infos{
 	position:absolute;
 	left:0;
 	bottom:0;
 	width:100%;
 	display:block;
 	text-align:left;
 }

 .code-embed-infos a{
 	color: #FFF;
	padding: 0 1em;
	font-family: verdana, helvetica, sans-serif;
	text-decoration: none;
	background:deeppink;
	margin-right:1em;
	display: inline-block;
 }

 .code-embed-infos a:hover,
 .code-embed-infos a:focus,
 .code-embed-infos a:active{
 	background:black;
 }

code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	line-height:1.5em;
	
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: .4em .8em;
	margin: .5em 0;
	overflow: auto;
	background: url('data:image/svg+xml;charset=utf-8,<svg%20version%3D"1.1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"100"%20height%3D"100"%20fill%3D"rgba(0%2C0%2C0%2C.2)">%0D%0A<polygon%20points%3D"0%2C50%2050%2C0%200%2C0"%20%2F>%0D%0A<polygon%20points%3D"0%2C100%2050%2C100%20100%2C50%20100%2C0"%20%2F>%0D%0A<%2Fsvg>');
	background-size: 1em 1em;
}

code[class*="language-"] {
	background: black;
	color: white;
	box-shadow: -.3em 0 0 .3em black, .3em 0 0 .3em black;
	word-wrap:normal;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .2em;
	border-radius: .3em;
	box-shadow: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #aaa;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
	color: #0cf;
}

.token.selector,
.token.attr-name,
.token.string {
	color: yellow;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string {
	color: yellowgreen;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.function,
.token.constant {
	color: deeppink;
}


.token.regex,
.token.important,
.token.variable {
	color: orange;
}

.token.important,
.token.deliminator  {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

.line-numbers .line-highlight {
	margin: 0;
	margin-left: -2.8em;
}
