/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

 .code-embed-wrapper{
  position:relative;
  padding-bottom:1.5em;
  margin-bottom:1em;
 }

 .code-embed-infos{
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  display:block;
  text-align:center;
  border-bottom:4px solid #2D2D2D;
 }

 .code-embed-infos a{
  color: #414141;
  padding: 0 1em;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  text-decoration: none;
  /*border-bottom: 4px solid #45473A;*/
  margin:0 0.5em;
  display: inline-block;
 }

 .code-embed-infos a:hover,
 .code-embed-infos a:focus,
 .code-embed-infos a:active{
  color:#2D2D2D;
  background:#7EC699;
 }

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  line-height:1.5em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

code[class*="language-"] {
  word-wrap:normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}


.token.tag,
.token.attr-name,
.token.namespace {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}


.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url
{
  color: #67cdcc;
}


.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

.line-numbers .line-highlight {
  margin: 0;
  margin-left: -2.8em;
}
